h4{
    text-align: center;
    padding-top: 7pc;

}
h5{
    text-align: center;
    padding: 15px;
}
.home{
    text-align: center;
    background-image: url('../assets/landingpage.jpeg');
    background-position:bottom;
    background-size: 1360px 900px
    ;


    
    
    padding-bottom: 496px;
}
.login{
    padding-bottom: 10px;
}

.instructors
{
padding: 10px;

}


* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .display{
    position: relative;
    margin: 30px 30px 30px 30px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 2px solid rgba(255, 127, 80, 0.5);
    border-left: 2px solid rgba(	255, 127, 80, 0.5);
    padding: 1rem 3rem 3rem 3rem;
    min-width: 400px;
    min-height: 400px;
  }
  .cont-display{
  
    position: relative;
    margin: 30px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 2px solid rgba(255, 127, 80, 0.5);
    border-left: 2px solid rgba(	255, 127, 80, 0.5);
    padding: 1rem 2rem;
    min-width: 500px;
    min-height: 50px;
  
  }