{%extends 'all-votes/base.html'%}
{% load static%}
{% block content %}
<style>
    body{
       
        text-align: center;
        background-image: url('https://user-images.githubusercontent.com/87479966/149214799-ea74b3af-1df7-4879-8d4d-7fdf4f2d47c7.png');
        background-repeat:no-repeat; 
        background-size:cover;
        background-position:center;
        
    }      
</style>
<body class="dee">
    <div class="container">
        <div style="margin-top:20%">
            <h4 >Welcome to vote-scope Kenya</h4>
            <h5>Login to find out <br> how many people in your country have registered to vote</h5>
            <a href="{% url 'create_form' %}" class="btn btn-warning">Authenticate</a>
            <a href="{% url 'logout' %}" class="btn btn-danger">LOGOUT</a>

          </div>
          
    </div>
</body>


{% endblock %}