
{%extends 'registration/base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content%}
<section class="html">
    <h1>Total Voters Count</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{vote_count}} voters

                
            </div>
            <div class="col-md-6">
                {% for location in votes %}
                <h2>Counties</h2>
                {{location.location.name}} 
            </div>
        </div>
    </div>
</section>
{% endfor %}

<style>
    body{
        background: url('static/Assets/Group 2.png');
        background-size:cover;
        background-position:center;
        min-height:100vh
    }
</style>
{% endblock %}