<nav class="navbar navbar-expand-lg bg-light navbar">
    <div class="container">
      <a href="#" class="navbar-brand">Home</a>
      <div class="collapse navbar-collapse" id="#navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#learn" class="nav-link">What’s your County ?</a>
          </li>
          <li class="nav-item">
            <a href="https://www.iebc.or.ke/registration/?how#" class="nav-link">Your Vote rights </a>
          </li>
          <li class="nav-item">
            <a href="#instructors" class="nav-link">FAQ’s</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  